*{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

body{
    height: 100vh;
    position: relative;
}

.container{
    display: flex;
    padding: 0 10%;
}

.search_container{
    justify-content: center;
    margin-top: 65px;
}

.map{
    width: 50%;
    min-height: 50vh;
    margin-top: 10vh;
}

.search_input{
    width: 600px;
    border: 2px solid #ffffff;
    outline: none;
    border-radius: 2px 2px 0 2px;
    box-shadow: 1px 1px 10px 1px #00000026;
}

.rigth_wrap{
    margin: 10vh 0 0 16px;
    width: 50%;
    background-color: #eee;
    box-shadow: 3px 3px 3px 0px rgb(0, 0, 0, 0.1);

}

.btn{
    border:1px solid transparent;
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85)) no-repeat;
    color: #fff;
    border-radius: 6px;
    padding: 6px;
    box-shadow: 3px 3px 3px 0px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert_box_btn{
    border:1px solid transparent;
    padding: 0;
    margin: 0;
    background: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85)) no-repeat;
    color: #fff;
    border-radius: 6px;
    padding: 6px;
    box-shadow: 3px 3px 3px 0px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    width: 150px;
    text-align: center;
}

.delete_btn{
    width: 26px;
    height: 26px;
    display: inline-block;
    cursor: pointer;
}

.delete_li{
    display: flex;
    align-items: center;
    padding: 0 12px;
    justify-content: space-between;
}

.delete_li:hover{
    background-color: #bbb;
}

.my_favourite{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85)) no-repeat;
    color: #fff;
    margin-bottom: 12px;
}

.delete_img{
    width: 100%;
}

.draw_wrap{
    display: flex;
    justify-content: center;
}

.draw{
    width: 240px;
    margin: 20px 0;
}

.restaurant_list_wrap{
    /* margin-bottom: 12px; */
}

.wheel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    opacity: .8;
}

#canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.header{
    height: 50px;
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85)) no-repeat;
    color: #fff;
}

.navbar{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.footer{
    width: 100%;
    height: 180px;
    background-color: #888;
    background: url('/images/footer_bg.png') no-repeat center center;
    background-size:cover;
    z-index: -1;
    margin-top: 65px;
    position: relative;
}

.copyright{
    position: absolute;
    bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 12px;
}

.add_bottomline{
    border-bottom: 1px solid #333;
    margin-right: 6px;
    width: 40%;
    font-size: 14px;
    padding: 12px 0 0px 0;
    min-height: 24px;
}

.alert_box{
    width: 400px;
    height: 200px;
    background-color: #fff;
    box-shadow: 3px 3px 3px 0px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    position: absolute;
    right: calc(50% - 200px);
    top: calc(50% - 100px);
}

.tips{
    background: linear-gradient(rgb(20, 30, 48), rgb(36, 59, 85)) no-repeat;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgb(66 184 131 / 1);
    font-weight: bolder;
}